<style>
field {
  background-color: #c0c0c0;
}
</style>
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="navbar-nav mr-auto text-center">
    <strong><%= form.label :title %></strong>
  </div>
  <center><%= form.text_field :title %></center>

  <div class="navbar-nav mr-auto text-center">
    <%= form.label :description %>
  </div>
  <center><%= form.text_area :description %></center>

  <div class="actions">
    <center><%= form.submit %></center>
  </div>
<% end %>
