<p id="notice"><%= notice %></p>

<style>
h1 {
  color: blue;
  border: none;
  text-align: center;
}

table {
  background-color: #c0c0c0;
}

body {
  background-color: #999999;
}
</style>

<h1>Projects</h1>

<div class="navbar-nav mr-auto text-center">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><u><%= link_to 'Show', project %></u></td>
        <td><u><%= link_to 'Edit', edit_project_path(project) %></u></td>
        <td><u><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></u></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

    <center><u><%= link_to 'New Project', new_project_path %></u></center>

</div>