<style>
body {
  background-color: #999999;
}
something {
  background-color: #999999;
  font-size: 10px;
}
</style>
<p id="notice"><%= notice %></p>

<p>
  <center><strong>Title</strong>
  <br>
  <%= @project.title %></center>
</p>

<p>
  <center><strong>Description</strong>
  <br>
  <%= @project.description %></center>
</p>

<center><u><%= link_to 'Edit', edit_project_path(@project) %></u> |
<u><%= link_to 'Back', projects_path %></u></center>
